<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/css-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio Beleza</title>
</head>
<body>
    <div class="contanier">
        <div class="topo">
            <h1>Stutio <strong>Beleza</strong></h1>
        </div>
        
        <div class="menu">
                <ul>
                    <li id="home"> Home</li>
                    <li id="contato">Contato</li>
                    <li id="saibamais"> Saiba mais</li>
                    <li id="agenda"> Agenda</li>
                    <li id="catalogo"> Catagolo</li>
                    <li id="portifolio"> Portifolio</li>
                    <li id="nossamissao"> Nossa Missão</li>
                </ul>
        </div>
        <div class="conteudo">
            <div id="lista"></div>
            <div id="demonstrativo"></div>
        </div>
        <div class="rodape">
            <div class="box rede-social">
                <h3>Rede Social</h3>
                <p>dia de noiva tratamento completo, com direito a penteado</p>
                <p>Escolha o sua plano</p>
            </div>
            <div class="box informacao">
               <h3>Promoções</h3>
                <p>dia de noiva tratamento completo, com direito a penteado</p>
                <p>Escolha o sua plano</p>
            </div>
            <div class="box destaque">
                <h3>Destaque</h3>
                <p>dia de noiva tratamento completo, com direito a penteado</p>
                <p>Escolha o sua plano</p>
            </div>
            <div class="box informenos">
                <h3>Informações</h3>
                <p>dia de noiva tratamento completo, com direito a penteado</p>
                <p>Escolha o sua plano</p>
            </div>
        </div>
    </div>
    <script src="js/efeito.js"></script>
</body>
</html>